.personnages-page section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.personnages-page {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/Images/background5.jpg");
  background-size: cover;
  background-position: 0 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: hard-light;
  background-color: rgba(70, 72, 128, 0.385);
}

.image-back {
  position: fixed;
  top: 300px;
}

@keyframes affichage-page {
  0% {
    opacity: 0;
    scale: 4;
    transform: skewy(50deg) perspective(1000px) rotateY(90deg);
  }
  20% {
  }

  100% {
    opacity: 1;
  }
}

.personnages-page .wrapper {
  opacity: 1;

  animation-name: affichage-page;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-fill-mode: inherit;
}

@media (max-width: 1250px) {
}

@media (max-width: 900px) {
}

@media (max-width: 700px) {
}

@media (max-width: 450px) {
}
