header {
  background-color: red;
  background-image: url(../../assets/Images/ironMan.png);
  background-size: 600px;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-position: left top;
  height: 250px;
  width: 100%;
  display: flex;
  position: fixed;
  border-bottom: 10px white dashed;

  /* box-shadow: 0 0 30px rgb(255, 255, 255); */
  z-index: 3;
}

header > .wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  justify-content: space-between;
}

.logo-section > img {
  width: 300px;
}
header > div > .menu-nav-large-sreen {
  display: flex;
  color: white;
  padding: 10px 0 0 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

header form {
  width: 100%;
  height: 100%;
}
header input[type="text"] {
  width: 100%;
  border: none;
  height: 100%;
  padding-left: 15px;
  border-radius: 5px;
}
header nav ul {
  display: flex;
  height: 100%;
}
header li {
  display: flex;
  justify-content: center;

  height: 50px;
  width: 100%;
}

header a {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  gap: 10px;
  padding: 20px 20px;
  width: 100%;
  transition: all 0.3s ease-in;
}

header .button-container {
  width: 400px;
  display: flex;
  justify-content: center;
}
header button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 20px 0px;

  transition: all 0.3s ease-in;
}

header a:hover,
header button:hover {
  text-shadow: 0 0px 20px white;
  color: black;
  transform: scale(1.1);
}

header a,
header button {
  font-weight: bold;
}
.little-screen-button-menu {
  display: none;
}
@media (min-width: 901px) {
  @keyframes header {
    0% {
      height: 111vh;
      background-size: 1200px;
      background-position: left 100px top -250px;
      background-size: 2600px;
    }
    30% {
      height: 110vh;
    }
    100% {
      height: 250px;
    }
  }

  header {
    align-items: center;
    animation-name: header;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
  }

  @keyframes nav-apparition {
    0% {
      opacity: 0;
      width: 2000px;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }

  header > div > section:last-of-type {
    opacity: 0;
    animation-name: nav-apparition;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes logo-size {
    0% {
      width: 900px;
      opacity: 0;
    }

    100% {
      width: 300px;
      opacity: 1;
    }
  }

  .logo-section > img {
    opacity: 1;
    animation-name: logo-size;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
  }
}

@media (max-width: 1250px) {
  header > .wrapper {
    width: 95%;
  }
}

@media (max-width: 900px) {
  header {
    height: 150px;
    background-size: 200px;
  }
  .logo-section > img {
    width: 150px;
  }
  .little-screen-button-menu {
    display: block;
    position: absolute;
    top: 0px;
    right: 40px;
    font-size: 20px;
  }
  header > div .menu-nav-large-sreen {
    display: none;
  }

  .little-screen-menu {
    position: fixed;
    background-image: url("../../assets/Images/spiderman.png");
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    top: 0;
    height: 110vh;
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    padding: 20px;
    gap: 30px;
  }

  .little-screen-menu form {
    height: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .little-screen-menu input[type="text"] {
    height: 30px;
  }
  .little-screen-menu input[type="submit"] {
    width: 100%;
    height: 30px;
    border: none;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
  }
  .little-screen-menu .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .little-screen-menu nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  .little-screen-menu nav ul a {
    display: flex;

    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 10px;
  }
  @keyframes headerSmall {
    0% {
      height: 111vh;

      background-position: top 80px left -200px;
      background-size: 1200px;
    }
    30% {
      height: 110vh;
    }
    100% {
      height: 150px;
    }
  }

  header {
    align-items: center;
    animation-name: headerSmall;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: initial;
  }

  @keyframes logo-sizeSmall {
    0% {
      width: 900px;
      opacity: 0;
    }

    100% {
      width: 150px;
      opacity: 1;
    }
  }

  .logo-section > img {
    opacity: 1;
    animation-name: logo-sizeSmall;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
  }
}
@media (max-width: 450px) {
}
