.favorites-page {
  justify-content: center;
  background-image: url("../../assets/Images/background11.jpg");
  background-size: cover;
  background-position: 0 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: hard-light;
  background-color: rgba(70, 72, 128, 0.747);
  align-items: center;
  min-height: 100vh;
  padding-top: 150px !important;
}
.favorites-page section > h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 50px 0 30px 0;
}
.favorites-page > div .favorites-heros {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.favorites-page > div .favorites-comics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 1250px) {
  .favorites-page {
    background-position: -300px 150px;
  }
}

@media (max-width: 900px) {
  .favorites-page {
    background-position: -450px 150px;
    padding-top: 100px !important;
  }
}

@media (max-width: 700px) {
  .favorites-page {
    background-position: -700px 150px;
  }
}

@media (max-width: 450px) {
  .favorites-page {
    background-position: -750px 150px;
  }
}
