.dropzone-section {
  width: 100%;
}
.dropzone-section > .dropzone {
  flex-direction: column;
  text-align: center;
  border: 5px rgb(0, 0, 0) dashed;

  width: 100%;
  height: 200px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.245);
  border-radius: 5px;
}
.dropzone > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: red;
  height: 30px;
  width: 40%;
  padding: 20px;
  cursor: pointer;
}
.pictures-status {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pictures-accepted {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pictures-accepted > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.thumb {
  width: calc((100% - 40px) / 5);
  flex-shrink: 0;
}
.thumb > div {
  width: 100%;
}
.thumb > div > div {
  position: relative;
}
.thumb > div button {
  font-size: 16px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.778);
  border: none;
  right: 5px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumb > div button:hover {
  background-color: white;
}
.thumb img {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  margin-top: 10px;
}
.pictures-status > p {
  text-align: center;
  margin-bottom: 30px;
}

.pictures-rejected {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pictures-rejected > ul {
  font-family: maison-noeue, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: circle;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}
.drag-Reject {
  color: red;
}

.drag-Accept {
  color: green;
}

/*--------------------------------------------*/

.dropzone-section .dropzone {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.thumb {
  width: 100%;
}
.thumb > div > div {
  width: 50%;
  margin: 0 auto;
}
.thumb img {
  border-radius: 50%;
  aspect-ratio: 1;
  margin-top: 20px;
}
