.comics-page {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/Images/background14.jpg");
  background-size: cover;
  background-position: 0 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: hard-light;
  background-color: rgba(70, 72, 128, 0.79);
}
.comics-page section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

/* @keyframes comics-page {
  0% {
    transform: translateY(1500px) skewY(50deg);
  }
  60% {
    opacity: 0%;
  }

  100% {
    opacity: 1;
  }
}

.comics-page {
  opacity: 0;
  align-items: center;
  animation-name: comics-page;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
} */
@media (max-width: 1250px) {
  .comics-page {
    background-position: 0px 150px;
  }
}
@media (max-width: 900px) {
  .comics-page {
    background-position: 0px 100px;
  }
}
@media (max-width: 700px) {
  .comics-page {
    background-position: -650px 50px;
  }
}
@media (max-width: 450px) {
  .comics-page {
    background-position: -750px 100px;
  }
}
