.character-page > .wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100%);
  gap: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px 5px rgb(0, 0, 0);
}

.character-page {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/Images/background15.jpg");
  background-size: cover;
  background-position: 0 200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: hard-light;

  background-color: rgba(70, 72, 128, 0.64);
  align-items: center;
}

.character-page > div > section:first-of-type {
}

.character-section {
  display: flex;
  flex-direction: column;
}

.character-section > h2 {
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
}
.character-section > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}
.character-section img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px black;
}
.character-page > .wrapper > section:last-of-type {
  flex: 1;
}

.character-page .character-comics > h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 30px;
  padding-left: 30px;
}

.character-page .character-comics > div {
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.character-page .character-comics > div > .comic-card {
  background-color: #ffffff;
  display: flex;
}
.character-page .character-comics > div > .comic-card:hover {
  background-color: rgb(255, 0, 0);
}
.character-page .comic-card a {
  flex: 1;
}
.character-page .comic-card img {
  flex: 1;
}

@media (max-width: 1250px) {
  .character-page {
    background-position: -300px 150px;
  }
}

@media (max-width: 900px) {
  .character-page {
    background-position: -300px 150px;
  }
}

@media (max-width: 700px) {
}

@media (max-width: 450px) {
}
