body {
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
[class$="page"] {
  padding-top: 200px;
  padding-bottom: 150px;
  width: 100%;
  min-height: 100vh;
}

[class$="page"] .wrapper {
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.886);
  padding: 150px 20px 50px 20px;
  border-radius: 10px;

  /* box-shadow: 0 0 30px rgb(255, 255, 255); */
}

p,
a,
h1,
h2,
h3,
h4,
label,
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 34px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}

[class$="page"] h2 {
  margin-bottom: 50px;
}

.error {
  color: red;
  font-weight: bold;
}

.like {
  color: red;
}

.hidden {
  visibility: hidden;
}
@media (max-width: 1250px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  [class$="page"] .wrapper {
    gap: 30px;

    padding: 80px 20px 50px 20px;
  }
  [class$="page"] h2 {
    margin-bottom: 30px;
  }

  [class$="page"] {
    padding: 100px 20px 50px 20px;
  }
}

@media (max-width: 700px) {
  p,
  a,
  h1,
  h3,
  h4,
  label,
  button {
    font-size: 12px;
  }
  h2 {
    font-size: 24px;
  }
}

@media (max-width: 450px) {
}
